.app-container {
  margin: 0 auto;
}

.main-content.home-background {
  background-image: url("../../../images/Legend.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 1000px;
}
